body {
    font-family: Arial, sans-serif;
    background-image: url(/src/afternoon.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .greeting {
    margin-bottom: 20px;
  }
  
  .greeting img {
    width: 50px;
    height: 50px;
  }
  
  .time {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .quote {
    text-align: right;
  }
  
  #refreshBtn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  